<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /radianceeternity/
  
  # Do not rewrite for real files or directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Rewrite everything else to index.html
  RewriteRule . /radianceeternity/index.html [L]
</IfModule>
